@import "../../styles.scss";

#contact {
  background-color: $dark;
  color: $light;
  display: flex;
  justify-content: space-between;
}

#details {
  display: grid;
  grid-template-columns: 2fr 3fr;

  div {
    padding: $padding;
  }
}

#map {
  padding-top: $padding;
  padding-right: $padding;
  padding-left: $padding;
  display: grid;
  grid-template-columns: 3fr 2fr;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
