<div class="grid col-3-2">
    <h2>Moxie's Joint<br />Cafe' & Grille</h2>
    <nav class="grid col-1-1">
        <a href="#Menu">Menu</a>
        <a href="#Contact">Contact</a>
    </nav>
</div>
<div class="grid col-3-2">
    <div id="Contact">
        <h3>Contact</h3>
        <h4>813-978-9700</h4>
        <footer>Extension 7269</footer>
    </div>
    <div>
        <h3>Map</h3>
        <a href="https://goo.gl/maps/MQD1XX3nJb62">Google Maps</a>
    </div>
</div>
<div class="grid col-2-3">
    <div>
        <h3>Hours</h3>
        <h4>Monday - Friday</h4>
        <footer>7:00AM - 4:00PM</footer>
    </div>
    <div>
        <h3>Location</h3>
        <h4>13020 Telecom Parkway, Tampa, Florida 33637</h4>
        <footer>Located on the Second Floor of the Florida Orthopaedic Institute</footer>
    </div>
</div>
<moxie-menu></moxie-menu>